body {
    margin: 0;
    font-family: Roboto, sans-serif;
  }
  
  mat-card {
    max-width: 50%;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-toolbar-row {
    justify-content: space-between;
  }
  mat-form-field{
      width:80%
  }
  
  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }

  .card .card-image img {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}