<div class="headline">{{(controller.state() | async).selected.name}} | {{(controller.state() | async).selected.direction}}</div>
<div class="map" *ngIf="(controller.state() | async).selected">

    <div class="background"></div>
    <div class="trip"></div>
    <div class="line">
        <div class="stop" *ngFor="let stop of (controller.state() | async).selected.items">
            <div class="icon"></div>
            <ul>
                <li>{{stop.location}}</li>
                <li>{{stop.distance}}</li>
            </ul>
        </div>
    </div>
</div>