<h2>Login Form</h2>
<div>
  <form #f="ngForm" name="loginForm" (ngSubmit)="submit()" class="row">
    <div>
      <div>
        <input #name="ngModel" required type="text" placeholder="username" name="name" [(ngModel)]="user.name" #spy/>
        <label *ngIf="name.control.hasError('required') && (name.touched)">Name is required </label>
      </div>
      <div><input #password="ngModel" required type="password" placeholder="password" name="password" [(ngModel)]="user.password" /></div>
      <button type="submit" [disabled]="!f.form.valid">login</button>
      <div>{{spy.className}}</div>
    </div>
  </form>
</div>
